---
layout: base.njk
title: Projets
---

<h1 class="text-6xl">
  Projets
</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-6">
  {%- for project in collections.project -%}
    {%- set card = {
      type: 'project',
      url: project.url | url,
      title: project.data.title,
      publish_month: project.data.publish_month,
      short_description: project.data.short_description
    } -%}

    {%- include '../_templates/_partials/card.njk' -%}
  {%- endfor -%}
</div>

<h2 class="text-3xl mt-8 mb-4">
  Expérimentations
</h2>

<p>
  En plus de plus ou moins gros projets, j'ai réalisé diverses expérimentations dont vous pouvez trouver certaines dans une page dédiée :
  <a href="{{ '/experiments/' | url }}" class="underline">voir les expérimentations</a>.
</p>
