---
layout: base.njk
title: Projets
---

<h1 class="text-6xl">
  Projets
</h1>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mt-6">
  {%- for project in collections.project -%}
    <a href="{{ project.url | url }}" class="block p-3 border border-t-stone-200 border-l-stone-200 border-b-stone-300 border-r-stone-300 dark:border-t-gray-700 dark:border-l-gray-700 dark:border-b-gray-600 dark:border-r-gray-600 rounded transition hover:bg-stone-200 dark:hover:bg-gray-700">
      <h3 class="text-lg font-bold leading-6">
        {{- project.data.title -}}
      </h3>

      <p class="text-xs text-gray-700 dark:text-gray-300">
        Publié en {{ project.data.publish_month | format_month }}
      </p>

      <p class="mt-1">
        {{- project.data.short_description -}}
      </p>
    </a>
  {%- endfor -%}
</div>

<h2 class="text-3xl mt-8 mb-4">
  Expérimentations
</h2>

<p>
  En plus de plus ou moins gros projets, j'ai réalisé diverses expérimentations dont vous pouvez trouver certaines dans une page dédiée :
  <a href="{{ '/experiments/' | url }}" class="underline">voir les expérimentations</a>.
</p>
