h2#listes-et-dictionnaires Listes et dictionnaires

h3 Listes

p Il y a deux méthodes pour accéder à une valeur dans une liste :

ul
	li <code>ma_list[0]</code> ou <code>i = 0 ; ma_list[i]</code>
	li <code>ma_list.get(0)</code> ou <code>ma_list.get(i)</code>

p L'accès à la valeur permet bien sûr de la redéfinir avec un "="

h3 Dictionnaires

p Il y a trois méthodes pour accéder à une valeur dans un dictionnaire :

ul
	li <code>mon_dict.val</code>
	li <code>mon_dict["val"]</code> ou <code>val = "val" ; mon_dict[val]</code>
	li <code>mon_dict.get("val")</code> ou <code>mon_dict.get(val)</code>

p L'accès à la valeur permet bien sûr de la redéfinir avec un "="
