h2#reflexions Réflexions

ul
	// li 1. Peut-être serait-il nécessaire d'écrire explicitement le type qu'une fonction retourne ?
	// je pense que non en fait
	// li 1. Typer les variables explicitement (comme les fonctions du point 1) ?
	// Typage dynamique préféré
	li 1. Rendre l'écriture du <code>@</code> facultative ?
	li 2. Ajouter le mot-clé as pour faire du transtypage ? <code>(ma_peugeot as Voiture).une_methode()</code>
	li 3. Prévoir du inline pour faire des constantes ou méthodes inlines ? Via des metadata ?
	li 4. Des retour multiples ? <code>ma_fonction() { 2, 3, 4 } ; a, b, c = ma_fonction()</code>
	li 5. Appel de fonctions avec des arguments nommés ? <code>ma_fonction(Num a, Num b, Num c) { } ; ma_fonction(c: 5, b: 6, a: 7)</code>
	li 6. Réflechir au fonctionnement du code multi-fichiers
	li 7. Réfléchir à un meilleur fonctionnement pour les attributs et méthodes de classe
	// li 8. Autoriser le <code>this.</code>
	// Inutile et redondant
	li 8. Typage fixe ou dynamique ?
	li 9. Réfléchir au fonctionnement des références.
	li 10. Des types <code>Int</code> et <code>Float</code> pour remplacer <code>Num</code> et <code>Chr</code> pour compléter <code>Str</code>
	li 11. Fonctionnement des variables variables ?
