---
layout: base.njk
title: Blog
---

<h1 class="text-6xl">
  Blog
</h1>

<div class="grid grid-cols-1 gap-6 mt-6">
  {%- for article in collections.articles -%}
    {%- set card = {
      type: 'article',
      url: article.url | url,
      title: article.data.title,
      created_at: article.data.created_at,
      short_description: article.data.short_description
    } -%}

    {%- include '../_templates/_partials/card.njk' -%}
  {%- endfor -%}
</div>
