---
layout: base.njk
title: Blog
---

<div class="prose dark:prose-invert">
  <h2 class="mb-4 mt-8">
    Blog
  </h2>
</div>

<div class="grid grid-cols-1 gap-6 mt-4">
  {%- for article in collections.articles -%}
    {%- set card = {
      type: 'article',
      url: article.url | url,
      title: article.data.title,
      created_at: article.data.created_at,
      short_description: article.data.short_description
    } -%}

    {%- include '../_templates/_partials/card.njk' -%}
  {%- endfor -%}
</div>
