@import "reset.css";

/* Style */
@media not (prefers-reduced-motion: reduce) {
    @view-transition {
        navigation: auto;
    }
}

:root {
    color-scheme: light dark;
}

html {
    background-color: rgb(230 246 255);
    font-size: 1.1em;
}

a {
    color: inherit;
}

body {
    padding: 2em;
    max-width: 48em;
    margin: 0 auto;

    & > header {
        display: flex;
        padding: 0.6em 2em;
        background-color: rgb(16 16 16 / 5%);
        border: 1px solid rgb(0 0 0 / 5%);
        border-radius: 2em;
        gap: 1em;
        backdrop-filter: blur(1em);
        flex-wrap: wrap;

        & a {
            display: inline-block;
            padding: 0.6em;
        }

        & > a {
            font-weight: bold;
        }

        & > nav {
            flex: 1;

            & > ul {
                display: flex;
                list-style: none;
                gap: 1em;
                margin: 0;
                padding: 0;
                flex-wrap: wrap;

                & > li {
                    display: block;

                    a {
                    }
                }
            }
        }
    }

    & > main {
        padding: 1.6em;
    }

    & > footer {
        border-top: 1px solid rgb(16 16 16 / 5%);
        padding: 1em;
        border-radius: 2em;

        & > ul {
            display: flex;
            list-style: none;
            gap: 1em;
            margin: 0;
            flex-wrap: wrap;

            & > li {
                display: block;
            }
        }
    }
}

pre {
    padding: 1em;
}
