color_blue = rgb(0, 154, 255)

flex-display()
	display -webkit-flex
	display flex

flex-size(size = 1)
	-webkit-flex size
	flex size

flex-direction(dir)
	-webkit-flex-direction dir
	flex-direction dir
