<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8" />

    {%- if full_title %}
      <title>{{ full_title }}</title>
    {%- else -%}
      <title>{{ title }} — Yannicka</title>
    {%- endif -%}

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{ '/assets/style.css' | url }}" />

    <link rel="shortcut icon"
          href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Ctext%20y%3D%22.9em%22%20font-size%3D%2290%22%3E%F0%9F%90%A7%3C%2Ftext%3E%3C%2Fsvg%3E"
          type="image/svg+xml" />

    <meta property="og:site_name" content="Yannicka" />
  
    {%- if full_title %}
      <meta property="og:title" content="{{ full_title }}" />
    {%- else -%}
      <meta property="og:title" content="{{ title }} — Yannicka" />
    {%- endif -%}

    {% if short_description %}
      <meta property="og:description" content="{{ short_description }}" />
    {% endif %}
  </head>

  <body class="bg-gray-100 text-black font-source-serif-pro dark:bg-gray-800 dark:text-gray-100">
    <div class="relative">
      <div class="absolute top-2 left-2">
        <a href="#content" class="block bg-white text-black border-2 border-black sr-only focus-visible:not-sr-only focus-visible:outline-none focus-visible:ring">
          <div class="p-3">
            Aller au contenu principal
          </div>
        </a>
      </div>
    </div>

    <div class="js-mobile-menu bg-white dark:bg-gray-900 border-b-2 border-black dark:border-gray-700 z-50" style="display: none;">
      <div class="grid grid-cols-3 items-center">
        <a href="{{ '/' | url }}" class="w-max p-4 text-xl font-bold hover:underline focus-visible:outline-none focus-visible:ring" title="Page d'accueil">
          Yannicka
        </a>

        <div class="col-span-2 justify-self-end">
          <button class="js-mobile-menu-close-button group inline-block px-5 py-4 focus-visible:outline-none focus-visible:ring">
            <span>⨉</span>
            <span class="align-middle group-hover:underline">Fermer le menu</span>
          </button>
        </div>
      </div>

      <nav role="navigation">
        {% for item in menu %}
          <a href="{{ item.path | url }}" class="block p-4 hover:underline hover:bg-gray-100 dark:hover:bg-gray-800 focus-visible:outline-none focus-visible:ring">
            {{ item.name }}
          </a>
        {% endfor %}
      </nav>
    </div>

    <header class="bg-white dark:bg-gray-900 border-b border-gray-200 dark:border-gray-700">
      <div class="max-w-4xl m-auto">
        <div class="flex items-center">
          <a href="{{ '/' | url }}" class="w-max p-4 text-xl font-bold hover:underline focus-visible:outline-none focus-visible:ring" title="Page d'accueil">
            Yannicka
          </a>

          <div class="hidden sm:block">
            <nav class="flex" role="navigation">
              {% for item in menu %}
                <a href="{{ item.path | url }}" class="inline-block p-4 {% if item.path in page.url %}underline{% endif %} hover:underline focus-visible:outline-none focus-visible:ring">
                  {{ item.name }}
                </a>
              {% endfor %}
            </nav>
          </div>

          <div class="sm:hidden ml-auto">
            <button class="js-mobile-menu-open-button group inline-block px-5 py-4 focus-visible:outline-none focus-visible:ring">
              <span class="align-middle">☰</span>
              <span class="align-middle group-hover:underline">Menu</span>
            </button>
          </div>
        </div>
      </div>
    </header>

    <main class="max-w-4xl mx-auto p-4" id="content">
      {{ content | safe }}
    </main>

    <footer class="max-w-4xl mx-auto px-4 py-8 text-center">
      <p>
        Yannicka ·
        2013 - 2022 ·
        <a href="{{ '/mentions-legales/' | url }}" class="underline focus-visible:outline-none focus-visible:ring">Mentions légales</a> ·
        <a href="{{ '/a-propos/' | url }}" class="underline focus-visible:outline-none focus-visible:ring">À propos</a>
      </p>
    </footer>

    <script src="{{ '/assets/main.js' | url }}" async></script>
  </body>
</html>
