---
layout: base.njk
---

<article>
  <h1 class="text-center text-6xl lg:text-left">
    {{ title }}
  </h1>

  <ul class="flex flex-wrap py-4 text-center justify-center lg:justify-start">
    <li class="pr-8">
      Par {{ author }}
    </li>

    {% if updated_at %}
      <li {% if created_at %}title="Publié initialement le {{ created_at }}"{% endif %} class="pr-8">
        Mis à jour le <time datetime="{{ updated_at }}">{{ updated_at }}</time>
      </li>
    {% elif created_at %}
      <li class="pr-8">
        Publié le <time datetime="{{ created_at }}">{{ created_at }}</time>
      </li>
    {% endif %}

    <li>
      Licence {{ license }}
    </li>
  </ul>

  {% if obsolete %}
    <p class="bg-blue-100 rounded">
      <strong>
        Ce dossier n'est plus mis à jour et peut être obsolète.
      </strong>
    </p>
  {% endif %}

  {% if draft %}
    <p class="px-4 py-3 bg-blue-100 dark:bg-blue-900 rounded">
      <strong>
        Ce dossier est en brouillon et est donc incomplet.
      </strong>
    </p>
  {% endif %}

  {{ content | safe }}
</article>
