---
layout: base.njk
---

<article>
  <h1 class="text-6xl">
    {{ title }}
  </h1>

  <ul class="flex flex-wrap justify-center py-4 text-center lg:justify-start">
    <li class="mr-8 mb-4">
      Par {{ author }}
    </li>

    <li class="mr-8 mb-4">
      Publié le {{ date | format_date }}
    </li>

    <li class="mr-8 mb-4">
      Licence {{ license }}
    </li>
  </ul>

  <div class="max-w-none prose dark:prose-invert">
    {{ content | safe }}
  </div>
</article>
