---
layout: base.njk
---

<article class="article">
  <h1 class="text-center text-6xl lg:text-left">
    {{ title }}
  </h1>

  <ul class="metabox">
    <li>
      Sorti en {{ publish_month | format_month }}
    </li>

    <li>
      Licence {{ license }}
    </li>

    {% if google_play_url %}
      <li>
        <a href="{{ google_play_url }}">
          Disponible sur Google Play
        </a>
      </li>
    {% endif %}

    {% if source_code_url %}
      <li>
        <a href="{{ source_code_url }}">
          Accéder au code source
        </a>
      </li>
    {% endif %}
  </ul>

  <div class="prose max-w-none dark:prose-invert">
    {{ content | safe }}
  </div>
</article>
