---
layout: base.njk
title: Films
---

<div class="prose max-w-none dark:prose-invert">

{% markdown %}

# Films

## Films que j'ai vu en 2023

*Sans ordre particulier.*

{% endmarkdown %}

{% for movie in movies['2023'] %}
  <div>
    <a href="https://www.imdb.com/title/{{ movie.imdbId }}/" title="{{ movie.originalTitle }}">
      {{ movie.title }} ({{ movie.releaseYear }})
    </a>
  </div>
{% endfor %}
