@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-width: 820px;
}

header {
  padding: 1.4em;
  background-color: #fafaf9;
  border-bottom: 1px solid #d6d3d1;
  font-size: 1.14em;

  section {
    max-width: var(--site-width);
    margin-left: auto;
    margin-right: auto;
  }
}

nav {
  & > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 0;

    & > li {
      margin-top: 0;
      margin-bottom: 0;

      & > a {
        padding: 1em;

        &:hover {
          text-decoration: underline;
        }
      }

      &:first-child {
        a {
          font-weight: 900;
          font-size: 1.5em;
        }
      }
    }
  }
}

main {
  max-width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2.2em;
  font-weight: bold;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
  list-style-type: disc;
  margin-left: 1.2em;

  li {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

a {
  text-decoration: underline;

  &:hover {
    opacity: 0.7;
  }
}

code {
  background-color: #fafaf9;
  outline: 1px solid #d6d3d1;
  border-radius: 0.25em;
  padding: 0 0.25em;
}
