{% extends "base.html" %}

{% block content %}
    <article>
        <header>
            <h1>
                {{ page.title }}
            </h1>

            <time datetime="{{ page.date }}">
                Écrit le {{ page.date | date(format="%-d %B %Y", locale="fr_FR") }}
            </time>

            {% if page.updated %}
                <time datetime="{{ page.updated }}">
                    et mis à jour le {{ page.updated | date(format="%-d %B %Y", locale="fr_FR") }}
                </time>
            {% endif %}
        </header>

        <div>
            {{ page.content | safe }}
        </div>
    </article>
{% endblock content %}
