<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">

        <link rel="preload" href="{{ get_url(path="css/reset.css") }}" as="style">
        <link rel="preload" href="{{ get_url(path="css/style.css") }}" as="style">
        <link rel="preload" href="{{ get_url(path="css/prose.css") }}" as="style">
        <link rel="preload" href="{{ get_url(path="css/index.css") }}" as="style">

        <link rel="stylesheet" href="{{ get_url(path="css/index.css") }}">

        <script type="importmap">
            {
                "imports": {}
            }
        </script>

        <link rel="modulepreload" href="{{ get_url(path="js/index.js") }}" as="script">

        <script src="{{ get_url(path="js/index.js") }}" type="module"></script>

        <title>
            {%- if page.title -%}
                {{- page.title }} &ndash; Yannicka
            {%- else -%}
                Yannicka
            {%- endif -%}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="canonical" href="{{ current_url|safe }}">

        <link
            rel="icon"
            href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Ctext%20y%3D%22.9em%22%20font-size%3D%2290%22%3E%F0%9F%90%A7%3C%2Ftext%3E%3C%2Fsvg%3E"
            type="image/svg+xml">

        <link
            rel="alternate"
            type="application/atom+xml"
            href="{{ get_url(path="atom.xml") }}"
            title="Yannicka">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{{ get_url(path="/") }}">
                            Yannicka
                        </a>
                    </li>

                    <li>
                        <a href="{{ get_url(path="/articles") }}">
                            Articles
                        </a>
                    </li>

                    <li>
                        <a href="{{ get_url(path="/journal") }}">
                            Journal
                        </a>
                    </li>

                    <li>
                        <a href="{{ get_url(path="/projets") }}">
                            Projets
                        </a>
                    </li>

                    <li>
                        <a href="{{ get_url(path="/exercices") }}">
                            Exercices
                        </a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <ul>
                <li>
                    Yannicka
                </li>

                <li style="text-shadow: 0px 0px 1px white;">
                    <span aria-hidden="true">🐧</span>
                    <span aria-hidden="true">ඞ<span style="margin-left: -4px; font-weight: 900;">'</span></span>
                    <span aria-hidden="true">🐈‍⬛</span>
                </li>

                <li>
                    2013 - 2025
                </li>

                <li>
                    <a href="{{ get_url(path="/mentions-legales") }}">
                        Mentions légales
                    </a>
                </li>

                <li>
                    <a href="{{ get_url(path="/a-propos") }}">
                        À propos
                    </a>
                </li>
            </ul>
        </footer>
    </body>
</html>
