{% extends "base.html" %}

{% block content %}
    <h1>
        {{ section.title }}
    </h1>

    <article>
        <header>
            <h2>
                Exercices du lundi (2014&ndash;2016, 2021)
            </h2>
        </header>

        <p>
            Les « exercices du lundi » étaient de petits défis donnés par un ami à un
            groupe de développeurs dont je fais partie. Ils étaient un bon moyen pour
            moi de découvrir et de tester divers langages. C'est notamment grâce à ces
            défis que j'ai découvert les langages fonctionnels.
        </p>

        <p>
            Le concept était géré par un ami de 2014 à 2016 puis par un autre en 2021.
        </p>

        <p>
            Les codes sources n'ont pas été développés avec la propreté ou
            l'optimisation en tête — sans compter le fait qu'ils sont souvent écrits
            dans des langages peu maitrisés. Ils ont donc été écrits, rendus
            fonctionnels puis publiés sans plus de prétention.
        </p>

        <p>
            Mes codes sources sont disponibles via des liens ainsi que sur la page du
            défi. Les codes sources d'autres développeurs sont disponibles seulement
            via des liens — et il se peut malheureusement que certains ne fonctionnent
            plus.
        </p>

        <ol>
            {% for page in section.pages %}
                {% if page.taxonomies.tags is not defined %}
                    <li>
                        <a href="{{ page.permalink }}">
                            {{ page.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </article>

    <article>
        <header>
            <h2>
                Exercices difficiles (2016)
            </h2>
        </header>

        <ol>
            {% for page in section.pages %}
                {% if page.taxonomies.tags is defined and page.taxonomies.tags is containing("hard") %}
                    <li>
                        <a href="{{ page.permalink }}">
                            {{ page.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </article>
{% endblock content %}
