{% extends "base.html" %}

{% block content %}
    <div class="prose">
        <h1>
            <span aria-hidden="true">— </span>Hey, bienvenue !<span aria-hidden="true"> —</span>
            <span aria-hidden="true">🐧</span>
        </h1>

        <p>
            Bienvenue sur mon site personnel. Ici vous trouverez les articles que j'ai rédigé et des projets que j'ai développé durant ma vie.
        </p>

        <p>
            Je suis principalement développeur PHP 🐘 professionnellement, et plutôt développeur TypeScript/JavaScript 🦄 pour mes projets personnels. Mon site est donc très orienté vers le web.
        </p>
    </div>
{% endblock content %}
