{% extends "base.html" %}

{% block content %}
    <article class="prose">
        <header>
            <h1>
                {{ section.title }}
            </h1>
        </header>

        <ul>
            {% for page in section.pages %}
                <li>
                    <a href="{{ page.permalink }}">
                        <time datetime="{{ page.date }}">
                            {{ page.date }}
                        </time>
                        —
                        {{ page.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock content %}
