{% extends "base.html" %}

{% block content %}
    <article class="prose">
        <header>
            <h1>
                {{ page.title }}
            </h1>
        </header>

        <div>
            <h2>
                Informations
            </h2>

            <ul>
                <li>
                    Publié en {{ page.extra.publish_month | date(format="%B %Y", locale="fr_FR") }}
                </li>

                <li>
                    Licence AGPLv3
                </li>

                {% if page.extra.google_play_url %}
                    <li>
                        <a href="{{ page.extra.google_play_url }}">
                            Voir sur Google Play
                        </a>
                    </li>
                {% endif %}

                {% if page.extra.source_code_url %}
                    <li>
                        <a href="{{ page.extra.source_code_url }}">
                            Accéder au code source
                        </a>
                    </li>
                {% endif %}
            </ul>

            {{ page.content | safe }}
        </div>
    </article>
{% endblock content %}
