---
layout: base.njk
title: Dessins
nsfw_images:
  - /dessins/gartic-phone/img/album_1esr7f42b.png
  - /dessins/gartic-phone/img/album_1ev35v3nk.png
  - /dessins/gartic-phone/img/album_1f2cr24va.png
  - /dessins/drawception/img/3X3nDhmMZy-6.png
prompts:
  album_1esglkni6.png: Un chat tue une maison
  album_1esr33hit.png: un chat qui mange un poisson
  album_1esr3hmh3.png: Mani en blonde qui fait de la trotinette
  album_1esr3khou.png: un alien , une lune et une soucoup volante
  album_1esr455e2.png: Du volley ball
  album_1esr47oj0.png: Un cornichon avec un chapeau rouge
  album_1esr4dckv.png: trump qui tombe
  album_1esr6m8gc.png: Un hot dog
  album_1esr6pj55.png: Un rhinocorne qui boit une bouteille
  album_1esr6scqm.png: le chien de acné qui fait de la musique (j'ai oublié le nom
  album_1esr7f42b.png: MiaNiack
  album_1esr7l74c.png: Brice de Nice !
  album_1esr7o3e3.png: Un coca renversé
  album_1esr7r240.png: salamèche
  album_1esr7u15t.png: Tarzan qui se balance de liane en liane !!!
  album_1esr81di5.png: Winny l’ourson avec du miel
  album_1esr9e8vk.png: Un ancien téléphone
  album_1esr9g56r.png: san goku qui veut se transformer en super sayan
  album_1esr9i6ju.png: Mani VS un crabe
  album_1esr9m0sc.png: Un phénix
  album_1esra142q.png: Un lutin qui a kidnappé 3 enfants en haut d'un bâtiment
  album_1esvsqd3c.png: La pierre philosophale
  album_1esvt0242.png: tigrou et winnie l'ourson
  album_1esvt5all.png: Les minions deprement devant un ocean
  album_1eurf961l.png: Un Cannibal préparant un repas
  album_1eurfd2f2.png: un inspecteur avec un bras une loupe et une pipe
  album_1eurfevmu.png: Un perroquet qui fait The Voice
  album_1eurgrdqg.png: Un fantôme qui tue un autre fantôme au pistolet
  album_1eurh2pl3.png: Jeanne d'arc sur le buchet
  album_1ev33g34b.png: love racines d'arbre sur du béton
  album_1ev34iie7.png: Un oiseau marron qui fume un gros split sa mere
  album_1ev3580gm.png: Un gorille rose sous perf
  album_1ev35akpr.png: un femme entrain de skyer
  album_1ev35d9qp.png: Un éléphant avec insect noir sur la tete arrose son petit am
  album_1ev35v3nk.png: une bite avec une bague
  album_1ev5tuh4v.png: un crayon qui dab
  album_1evb2t0qj.png: Un aspirateur sur Mars
  album_1evb2unhg.png: Un homme qui se casse le dos en montant les escaliers
  album_1evb30ivp.png: licorne qui joue de l'ocarina
  album_1evb498jp.png: bulbizarre qui joue du piano
  album_1evb4b1bb.png: Quelqu'un qui est amoureux
  album_1evb4dd4p.png: Un français qui saute d'un avion
  album_1evb4f9f3.png: une vache ange dans le ciel
  album_1eviik2sl.png: Un kebab au sol
  album_1eviivlqq.png: Le logo de Gartic Phone
  album_1evijdeli.png: bob l'eponge mais sans eponge ?? Bobby le chateau/lego
  album_1evijp5da.png: Un hippocampe qui bulle
  album_1evijpqbi.png: sacha pkm ou cetelem ou Bobby ? dans l'herbe
  album_1evikbmd1.png: gateau sur etage avec cascade de bonbons et arbres sucettes
  album_1evikpc0e.png: La sabot d'un cheval
  album_1evil2tkv.png: un Rubbiks cube rond AN vue 3d
  album_1evilcr2f.png: un ecureuill qui descend d'un tronc
  album_1evilnq71.png: Elfe magique dans le cimetière
  album_1evim349h.png: Daft Punk
  album_1evimgclh.png: Louis XVI observe des petits enfants
  album_1evimsuis.png: La planète terre avec la lune et le soleil en fond
  album_1evl5891q.png: Un bonhomme qui fait coucou a une autre personne
  album_1evl5baoi.png: Zoro
  album_1evl64c01.png: Superman, enfin je crois
  album_1evl66d8r.png: une personne qui se balade avec planche de surf rouge sur la
  album_1evl6v68f.png: un bracage
  album_1evl72cmr.png: sangoku qui joue à la pétanque
  album_1evl7ojt6.png: un vélo a coté d'une croix rouge
  album_1evl7sd1u.png: un peintre au mileu d'une route elle meme au milieu de l'eau
  album_1evl8irou.png: une explosion atomique / nucléaire
  album_1evl8jrvs.png: mini kangourou rose
  album_1evl8m2mg.png: la planette brax près du système solaire
  album_1evl9mim1.png: Logo google
  album_1evl9omdj.png: macron et Brigitte qui cuisine un poulet fermier biensure
  album_1evt04dv8.png: Kirikou vs aladdin
  album_1evt07lsa.png: LEO FUME SONT PREMIER PETARD
  album_1evt09ovu.png: Un blond sirote son sprite en regarde du feu et jouant de la
  album_1evt14efa.png: freeze corleone en slip
  album_1evt15g8l.png: Jacob (maskey)
  album_1f04ljvsq.png: Une suffragette avec une pancarte
  album_1f04lo2p4.png: un chevalier et 4 chevaux
  album_1f04lpa6c.png: Un yoshi avec la moustache d'Hitler et un chapeau de paille
  album_1f04lscna.png: Chris Antem avec une tasse fumante dans du foin
  album_1f04mtces.png: Un jukebox bleu et noir s'agite
  album_1f04mv3h2.png: AU FEU LES POMPIERS LA MAISON QUI BRÛLE
  album_1f04n6c7v.png: Un panda pauvre triste avec une tasse fumante dans chaque ma
  album_1f04n8bg5.png: Jiminy Cricket (corn chef d'orchestre)
  album_1f04ndmv6.png: Un soleil et un arbre discutent de rien
  album_1f04oi0ap.png: Une valise saute d'un avion breton qui aime la pluie
  album_1f04ok34t.png: Juda crache du sang sur le christ crucifié pour le fun
  album_1f04oobt7.png: Le chat de schrôdinger, il est mort, vivant, on sait pas
  album_1f04ov9jk.png: quelqu'un a rendu copie blanche au garticphone
  album_1f04p39ra.png: Spiderman est à la bourre pour aller sauver une mamie
  album_1f04p5gii.png: Docteur Raoult va à la pharmacie Française
  album_1f04q9vte.png: Des Sélénites observent les astronautes
  album_1f04qe8r1.png: Un Toad pourri a un ver dans son champignon (pas sa teub)
  album_1f04qh33s.png: un français s'échappe à cheval on lui tire dessus
  album_1f04qjnr7.png: un pauvre chien a peur d'un chat qui aboie
  album_1f0757sjg.png: Une nuit étoilée
  album_1f075bfqu.png: un ver de terre rockeur
  album_1f07653bs.png: Un avoca qui écoute de la musique
  album_1f0766fg1.png: San Goku Vs Brax
  album_1f0774sd0.png: Un BMX vs Superman
  album_1f077bmdp.png: un vieux monsieur sur un trainoloup
  album_1f077d1tt.png: Mickey demande Minnie en mariage sur le dos d'un Dragon
  album_1f077e9n3.png: Un homme joue au pc sur la plage ?
  album_1f0783sht.png: Go go Power Rangers
  album_1f0788b8f.png: un réveil japonais qui dort
  album_1f0789fqi.png: san goku ENCORE
  album_1f079054n.png: Wankil Studio
  album_1f079324g.png: Poussin Piou
  album_1f07941d3.png: un helico jaune avec son pilote
  album_1f0ca98b7.png: Un homme sur ses wc
  album_1f0cabnt7.png: Brax entrain de pleuré sous la pluie
  album_1f0cav2vq.png: gandalf VERSUVUVUSSSSS le diable a corne triste
  album_1f0cb08h2.png: un nounours avec un bon burger
  album_1f0cb3lrk.png: Petite tortue en colère
  album_1f0cbuul5.png: un lutin dans un jardin
  album_1f0ccgc86.png: bigmac frite boisson a emporter
  album_1f0ccj8m0.png: wrap bacon , coca et poteteos avec plein de sauce creamy
  album_1f0p7088q.png: monsieur patate qui s'occupe des frittes chez Mcdo
  album_1f0p7lupr.png: une baleine dans un sceau
  album_1f0p836v7.png: Un blond qui se masturbe à sa fenêtre (le zeub est censuré)
  album_1f1ds2580.png: Totoro a décapité un type
  album_1f1ds3tdh.png: Une église brûle. Il est 5h10. Ou 2h20.
  album_1f1ds5q0s.png: Venus et Lokapi se disputent sur le balcon
  album_1f1ds7k5q.png: Un ange crache des arc-en-ciel par la bouche
  album_1f1ds97bq.png: La tasse aux fils 'et une araîgnée s'est pendue à coté
  album_1f1dtc8ld.png: Brice de Nice, à Paris
  album_1f1dtf8i3.png: Garfield maltraite le distributeur de croquettes
  album_1f1dtgpb2.png: La corse envoie une bombe sur la Tour Eiffel.
  album_1f1dtl941.png: Vous êtes tous des étrons
  album_1f1gbhq7g.png: une girafle sur une locomotive avec des gros rail triso
  album_1f1gbjgc8.png: un fer sans fer
  album_1f1gcise6.png: McFly & Carlito avec Marine Le Pen dans le 93
  album_1f1gcmajv.png: fils rouges et bleus mélangés frère c'est quoi sah ?
  album_1f1gddbug.png: Albert Einstein
  album_1f1gdek5o.png: jamel 2 bouze avec ses 2 bras
  album_1f1gdi88h.png: un lion sur une soucoupe
  album_1f1qrua6f.png: (description perdue)
  album_1f1qrvqi2.png: (description perdue)
  album_1f1qs1agn.png: (description perdue)
  album_1f1qs2l5s.png: (description perdue)
  album_1f1qs43c9.png: (description perdue)
  album_1f1qs5ghk.png: (description perdue)
  album_1f1qs6r6a.png: (description perdue)
  album_1f1qs854p.png: (description perdue)
  album_1f1qta82m.png: (description perdue)
  album_1f1qtcv1d.png: (description perdue)
  album_1f1qtg0ml.png: (description perdue)
  album_1f1qths0d.png: (description perdue)
  album_1f1qtj6ds.png: Une vache marche sur la Lune
  album_1f1qtkk4d.png: (description perdue)
  album_1f2cob87h.png: romain qui chante dans sa toyota
  album_1f2cod1qf.png: My first cigarette
  album_1f2cp0b5o.png: jean petri de la pate sur ses pec
  album_1f2cp3kmg.png: un mec se fait des chocapique
  album_1f2cpk0ef.png: Un cygne qui fait un signe
  album_1f2cpmuof.png: Kenzo qui ne comprend pas une blague sur face
  album_1f2cqbv9u.png: La lune qui se baïgne dans un jacuzzi
  album_1f2cqgnsv.png: jean qui chante
  album_1f2cr24va.png: du pain en forme de zbi
  album_1f2cr563l.png: romain dans mon voisin totoro
  album_1f2crkvoj.png: Jean qui mange un sandwich béni (?)
  album_1f2cro2g5.png: timmy ! dans south park
  album_1f2cs7n2i.png: Kuzco qui fait du pole dance
  album_1f2cs95j7.png: NWE
  album_1f2csb34b.png: pierre le prédateur sexuel qui kidnape edo
  album_1f2s2en3l.png: Skrek et Fionna
  album_2022-01-02_15-46-45.png: Une licorne rainbow amour et love
  album_2022-01-02_16-30-58.png: Un manchot bleu avec un minuscule Togepi sur la tête
---

<section class="home-section">
  <div class="flex flex-col sm:justify-between sm:flex-row">
    <h1 class="text-6xl">
      Dessins
    </h1>

    <div class="mt-4 sm:mt-0 sm:text-right">
      <button class="js-nsfw-button bg-stone-200 dark:bg-gray-700 p-3 rounded group-open:rounded-none group-open:rounded-t transition hover:bg-stone-300 dark:hover:bg-gray-600 focus-visible:outline-none focus-visible:ring"></button>

      <p class="text-xs">
        Ce bouton affichera les images plus... osées.
      </p>
    </div>
  </div>

  <p class="mt-8">
    Voici une petite (longue) page qui liste quelques dessins numériques que
    j'ai fait. Ce n'est ni une liste exhaustive, ni une liste correctement
    triée.
  </p>

  <h2 class="text-4xl mt-8 mb-4">
    Gartic Phone
  </h2>

  <p class="mb-4">
    Il s'agit d'une version du jeu du téléphone sans fil : quelqu'un écrit une
    phrase, que quelqu'un doit illustrer, puis quelqu'un d'autre doit décrire
    l'illustration, puis une autre personne doit illustrer l'interprétation, et
    ainsi de suite. Vous êtes un acteur au milieu de tout ça.
  </p>

  <p class="mb-4">
    On dispose d'environ 2 minutes et 30 secondes pour effectuer le dessin. Ce
    temps peut varier selon les modes de jeu.
  </p>

  <p class="mb-4">
    Les dessins datent d'entre janvier et avril 2021.
  </p>

  <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
    {% for drawing in drawings.gartic_phone %}
      <div class="overflow-hidden">
        <img src="{{ drawing | url }}"
             alt=""
             loading="lazy"
             width="770"
             height="525"
             {% if drawing in nsfw_images %}data-nsfw="nsfw"{% endif %}>
        
        <p>
          {% for img, prompt in prompts %}
            {% if img === drawing|replace("/dessins/gartic-phone/img/", "") %}
              {{ prompt }}
            {% endif %}
          {% endfor %}
        </p>
      </div>
    {% endfor %}
  </div>

  <h2 class="text-4xl mt-8 mb-4">
    Drawception
  </h2>

  <p class="mb-4">
    Le fonctionnement est assez similare à Gartic Phone, mais de façon
    désynchrone. Là où sur Gartic Phone tous les joueurs doivent être présents
    au même moment et où tout s'enchaine rapidement, sur Drawception, vous avez
    10 minutes pour effectuer le dessin (là aussi le temps peut varier).
  </p>

  <p class="mb-4">
    Les dessins datent d'entre 2012 et 2020.
  </p>

  <div class="grid gap-4 grid-cols-1 justify-items-center sm:grid-cols-2 md:grid-cols-3">
    {% for drawing in drawings.drawception %}
      <div class="overflow-hidden">
        <img src="{{ drawing | url }}"
             alt=""
             loading="lazy"
             width="300"
             height="250"
             {% if drawing in nsfw_images %}data-nsfw="nsfw"{% endif %}>
      </div>
    {% endfor %}
  </div>
</section>
