---
layout: base.njk
title: Dessins
---

<section class="home-section">
  <h1 class="text-6xl">
    Dessins
  </h1>

  <h2 class="text-4xl mt-8 mb-4">
    Gartic Phone
  </h2>

  <p class="pb-4">
    Il s'agit d'une version du jeu du téléphone sans fil : quelqu'un écrit une
    phrase, que quelqu'un doit illustrer, puis quelqu'un d'autre doit décrire
    l'illustration, puis une autre personne doit illustrer l'interprétation, et
    ainsi de suite. Vous êtes un acteur au milieu de tout ça.
  </p>

  <p class="pb-4">
    On dispose d'environ 2 minutes et 30 secondes pour effectuer le dessin. Ce
    temps peut varier selon les modes de jeu.
  </p>

  <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
    {% for drawing in drawings.gartic_phone %}
      <div>
        <img src="{{ drawing | url }}"
             alt=""
             loading="lazy"
             width="770"
             height="525">
      </div>
    {% endfor %}
  </div>

  <h2 class="text-4xl mt-8 mb-4">
    Drawception
  </h2>

  <p class="pb-4">
    Le fonctionnement est assez similare à Gartic Phone, mais de façon
    désynchrone. Là où sur Gartic Phone tous les joueurs doivent être présents
    au même moment et où tout s'enchaine rapidement, sur Drawception, vous avez
    10 minutes pour effectuer le dessin (là aussi le temps peut varier).
  </p>

  <div class="grid gap-4 grid-cols-1 justify-items-center sm:grid-cols-2 md:grid-cols-3">
    {% for drawing in drawings.drawception %}
      <div>
        <img src="{{ drawing | url }}"
             alt=""
             loading="lazy"
             width="300"
             height="250">
      </div>
    {% endfor %}
  </div>
</section>
