head
	meta(charset="utf-8")
	title
		!= 'Switch Color - ' + title
	link(rel="stylesheet" type="text/css" href="design/design.css")
	meta(name="viewport" content="width=device-width,initial-scale=1.0")
