---
layout: base.njk
full_title: Yannicka — Accueil
---

<h1 class="text-center font-extrabold break-words text-4xl">
  <span class="text-transparent bg-clip-text bg-gradient-to-r from-green-700 to-emerald-800 dark:from-green-300 dark:to-green-200">
    <span aria-hidden="true">— </span>Hey, bienvenue !<span aria-hidden="true"> —</span>
  </span>

  <span aria-hidden="true">🐧</span>
</h1>

<section class="max-w-lg mt-6 mx-auto">
  <p>
    Bienvenue sur mon site personnel. Ici vous trouverez les articles que j'ai rédigé et des projets que j'ai développé durant ma vie.
  </p>

  <p class="mt-4">
    Je suis principalement développeur PHP <span aria-hidden="true">🐘</span> professionnellement, et plutôt développeur TypeScript/JavaScript pour mes projets personnels. Mon site est donc très orienté vers le web.
  </p>
</section>

<article aria-labelledby="html-title-articles">
  <header>
    <h2 class="mt-6 text-3xl font-bold" id="html-title-articles">
      Articles
    </h2>
  </header>

  <section class="grid grid-cols-1 gap-6 lg:grid-cols-2 mt-4">
    {%- for dossier in collections.dossier -%}
      {%- set card = {
        type: 'dossier',
        url: dossier.url | url,
        title: dossier.data.title,
        created_at: dossier.data.created_at,
        updated_at: dossier.data.updated_at,
        short_description: dossier.data.short_description
      } -%}

      {%- include './_templates/_partials/card.njk' -%}
    {%- endfor -%}
  </section>
</article>
