---
layout: base.njk
title: Politique de confidentialité pour Android
---

<div class="prose max-w-none dark:prose-invert">

{% markdown %}

# Politique de confidentialité pour Android

Cette politique de confidentalité concerne les applications suivantes :

- [Switch Color](https://play.google.com/store/apps/details?id=com.pifyz.switchcolor)
- [Bobby](https://play.google.com/store/apps/details?id=fr.yannicka.bobby)

## Données collectées

Aucune donnée, personnelle ou non, n'est collectée par l'application.

## Données partagées

Aucune donnée, personnelle ou non, n'est partagé avec quelconque tiers.

{% endmarkdown %}

</div>
